@media (max-width: 480px) {
    html {
        height: 1100px;
        min-width: 100%
    }

    body {
        min-height: 100vh;
    }

    .about-me-layout {
        padding: 10px;
    }

    .nav {
        height: 100px;
    }

    .nav-link {
        width: 25%;
        font-size: var(--font-size-mini);
    }

    .nav-logo {
        font-size: var(--font-size-mini);
    }

    .main-content {
        height: 1000px;
    }

    .about-me-image {
        height: auto;
        width: 80%;
        align-self: center;
    }

    .about-me-paragraph {
        width: 350px;
    }

    .footer {
        all: unset;
        height: 100px;
        width: 100%;
        background-color: red;
        grid-area: footer;
    }

    .footer-text-left {
        all: unset;
    }

    .footer-text-right  {
        all: unset;
        font-size: var(--font-size-mini);
    }

    .footer-gap {
        all: unset;
        display: none;
    }
}

@media (max-width: 600px) {
    html {
        height: 1100px;
        max-width: 300px;
    }

    .nav {
        height: 100px;
    }

    .nav-link {
        width: 25%;
        font-size: var(--font-size-mini);
    }

    .nav-logo {
        font-size: var(--font-size-mini);
    }

    .main-content {
        height: 1000px;
    }

    .footer {
        position: absolute;
        bottom: 1px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1400px) {

}